[submodule "basic-solc-project/lib/forge-std"]
	path = basic-solc-project/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "basic-solc-project/lib/openzeppelin-contracts"]
	path = basic-solc-project/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "PasswordStore-Audit1/lib/forge-std"]
	path = PasswordStore-Audit1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "PasswordStore-Audit1/lib/openzeppelin-contracts"]
	path = PasswordStore-Audit1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "exploits-minimized-overview"]
	path = exploits-minimized-overview
	url = https://github.com/PranavLakkadi13/Security-Notes.git
[submodule "test_fuzz_tincho_practice/lib/forge-std"]
	path = test_fuzz_tincho_practice/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "practiceFuzz_tincho/lib/forge-std"]
	path = practiceFuzz_tincho/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "tincho_practice/lib/forge-std"]
	path = tincho_practice/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
